.vscode
*.egg-info
*.npz
output/*
scripts/demo copy.ipynb
# include graph files for testing: 
!5_edges_rand_graph.npz
!8_edges_rand_graph.npz
!10_edges_rand_graph.npz
!13_edges_rand_graph.npz
!17_edges_rand_graph.npz
__pycache__
